!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "description", :content => "Agile web development, business process management, Gainesville, Florida"}
    %meta{:name => "keywords", :content => "Agile web development, business process management Gainesville, Florida"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    / Always force latest IE rendering engine or request Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/

    %title
      Business Optimization, Business Process Management, and Custom Software Design & Development : Gainesville Florida | Seventh Compass, Inc.

    = stylesheet_link_tag "https://use.typekit.net/yrj1eie.css"
    = stylesheet_link_tag "all"
    = javascript_include_tag  "all"

  %body
    = yield
