
html {
  font-size: 18px
}

body {
  font-family: "din-2014", sans-serif;
  font-weight: 400;
  letter-spacing: 1.3px;
  line-height: 1.5;
  text-align: left
}

h1 {
  margin-bottom: 1em
}

p {
  margin-bottom: 2em
}

strong {
  display: block;
  margin-bottom: 0.5em;
}

a:link {
  color: #888;
  text-decoration: underline
}

a:visited {
  color: #888
}

a:hover, a:focus {
  text-decoration: none
}

.clearing {
  display: block;
  clear: both;
  font-size: 1px;
  height: 1px;
  line-height: 1px;
  margin: 0
}

#wrapper {
  width: 800px;
  margin: 50px auto 15px auto
}

.logoBar {
  margin: 50px auto 30px auto
}

.light {
  text-align: center;
  color: #AAAAAA;
  font-size: 10px
}
