%link{:href => "/stylesheets/billing.css", :rel => "stylesheet"}
#page-container.container
  #wrapper.contact-form
    %h1 Why is there a charge on my card?

    %p
      %strong Who is 7CBilled.us?
      7CBilled.us is a billing entry for
      %a(href="/") Seventh Compass, Inc.
      Seventh Compass, Inc. is a software development company in Gainesville,
      Florida, that makes software used by churches, non-profits, and small
      businesses. We have been in business since 2003.
    %p
      %strong Why are you charging us?
      This is either a recurring charge for
      <a href="https://txtsignal.com" target="_blank">txtsignal.com</a>,
      <a href="http://www.symt.us" target="_blank">Simply Youth
      Ministry's Tools software suite</a>
      (including SimplyTXT, Communicate,
      Team, or SYM Jobs Board); or, for a one-time charge for
      <a href="http://www.livecurriculum.com" target="_blank">LIVE Curriculum</a>.
    %p
      %strong Doesn't sound familiar?
      If any of the above products or services doesn't sound familiar, please
      ask around your office.  It's likely that someone in your organization
      has signed up for one of these services.
    %p
      %strong Can we get an invoice for the charges?
      Yes.  Actually, we will have already sent one   Every time we send a
      charge through we send a receipt to the email to the person (you or your
      co-worker) that signed up for the account.  If the charge is for
      txtsignal.com or SYM Tools, you can log into your account, click the
      "gear" icon, click "Account", and in the Invoice History section you
      will find a list of all receipts that we have sent.  The entire account's
      billing history is available in this section and contains a list of all
      the invoices we’ve sent.
    %p
      %strong How do I cancel my account?
      If you know the product you’re signed up for you can cancel your account
      at any time. Just log into your account, click the "gear" icon, click
      Account, scroll down, and click the Close my Account button.  Please
      note that once you’ve cancelled you won’t be charged again, but you are
      responsible for all previously incurred charges.
    %p
      %strong Any further questions?
      You can submit a
      %a{:href => "#", :target => "_blank", :id => 'billing-email'} billing support inquiry
      and we’ll get back to you as quickly as we can.

:javascript
  document.title = '7Compass Billing - Why is there a charge on my card?'
  document.getElementById('billing-email').href = 'mailto:company@7compass.com'
