.logo &nbsp;
.bounding-box
  .row-fluid
    .span3.call-to-action.left
      .head Get In Touch
      %hr
      %p Want to drop us a line and say hello? We're excited to hear from you.
      %a.button{:href => "tel:800-856-5298", :target => "_blank"} (800) 856-5298
    .span6.tell-dreams
      .head Tell us what your dream is
      %p We're ready to help you build it.

      %a#start-project-button.button{:href => 'mailto:company@7compass.com', :target => "_blank"} Start a project
      
    .span3.call-to-action.right
      .head Still Have Questions?
      %hr
      %p Feel free to contact us, and we'll get back to you as soon as we can.
      %a.button{:href => "mailto:company@7compass.com", :target => "_blank"} Contact us
