

%section.section--hero
  .container
    %h1.title
      SEVENTH COMPASS

    %p
      We help our clients
      %strong identify, organize
      and
      %strong execute
      business optimizations through people,
      process, and technology change.

    .m-t-3
      %a.btn(href="mailto:company@7compass.com" target="_blank")
        Start Now

%section.section--logo-banner
  .container
    %a{:href => "http://group.com", :target => "_blank"}
      %img{:src => image_path("groupLogo.png"), :alt => "Group Publishing"}
    %a{:href => "http://www.ufl.edu", :target => "_blank"}
      %img{:src => image_path("ufLogo.png"), :alt => "University of Florida"}
    %a{:href => "http://www.mindsprocketllc.com", :target => "_blank"}
      %img{:src => image_path("mindsprocketLogo.png"), :alt => "Mind Sprocket"}
    %a{:href => "http://simplyyouthministry.com", :target => "_blank"}
      %img{:src => image_path("symLogo.png"), :alt => "Simply Youth Ministry"}

%section.section--content
  %p
    %strong
      Finding the new 100% through...

  %p.bullets
    Honesty
    &bull;
    Innovation
    &bull;
    Creativity
    &bull;
    Learning
    &bull;
    Attention
    &bull;
    Simplicity
    &bull;
    %strong Integrity

%footer
  %p
    Seventh Compass, Inc. Copyright 2003 -

    :javascript
      document.write(new Date().getFullYear())

